numpy==1.20.3
nltk==3.6.2
bertopic==0.9.1
gdown==3.13.0
prawcore==2.3.0
NRCLex==3.0.0
spacy==3.1.2
praw==7.4.0
tqdm==4.62.0
gensim==4.1.2
better_profanity==0.7.0
pandas==1.3.1
matplotlib==3.4.2
requests==2.22.0
coloredlogs==15.0.1
Pillow==8.3.2
spacytextblob==3.0.1
